# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Environment variables
.env

# VS Code
.vscode/

# Node
node_modules/

# OS files
.DS_Store
Thumbs.db

# Alembic
alembic/versions/*.pyc
